本实验的主要任务，是实现一个简单的Web服务器，能够支持浏览器访问一个静态页面。

原理提示：Web服务器和浏览器之间，是通过HTTP协议通信的。服务器是一直监听在80端口。当浏览器访问服务器的80端口时，在服务器和浏览器之间，就建立了一个Session连接。服务器和浏览器，可以通过这个Session通信。HTTP协议就跑在这个Session上。HTTP协议是文本协议，比如浏览器发送GET命令，服务器就把相应的网页发送回来。具体流程请参考教材11.5、11.6。
1、书写自己的webserver_201309062087.c文件，提供对静态网页的访问，能够在不重新启动的情况下，满足多次访问请求；
2、支持webserver配置文件，比如“webserver.ini”，将一些服务器的配置信息，保存到此文件中。比如网站的根目录在哪里、服务器的端口是多少等等。例如：

root=d:\webroot
port=8080

3、加入webserver的日志功能，记录所有访问此web服务器的客户端的IP地址、请求的页面等。例如

 2015/11/08 23:59:11 IP:202.197.1.1 GET /
提交：
请提交webserver_20xxxx学号.c即可