本实验的主要任务，是实现一个多线程的搜索应用，利用处理器的多线程提高运行效能。

原理提示：现代的微处理器，都是多核/多线程的。如果一个程序没有任何并行，那么它只能利用一个核/一个线程硬件的性能，其他处理器硬件计算能力就浪费了。通过将串行代码，进行多线程改造，用多个线程来共同完成一个计算任务，可以充分利用现代处理器的硬件，大幅度提高应用的性能。

先make，生成SearchRandom，运行，看看耗时多少秒？以便知道自己处理器的主频、单线程能力是多少？
仔细阅读SearchRandom的代码，确定如何划分、如何并行。
参考SearchRandom，改写自己的Thread_2018xxyyzz.c文件。提示：将0~0xFFFFFFFF划分为n份，每一份用一个单独的线程计算
运行多线程版本的搜索密码程序，看看多少秒能出结果？
尝试修改线程数（最好知道自己笔记本处理器的核数、线程数等硬件信息），确定最佳线程数。
进阶【天河班同学建议】：你可以尝试使用处理器内置的SSE、AVX指令集来大幅度加速计算。可以尝试使用“线程池”的概念来管理多个线程。
提交：
请提交Thread_20xxxxx学号.c文件即可